/paso2021/tiff/salida/
/paso2021/resultados provisorios/
/generales2021/tiff/salida/15/json/
/generales2021/tiff/salida/15/tiff/
/generales2021/tiff/salida/16/tiff/
/generales2021/tiff/salida/16/json/
